*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(255, 0, 0) 10%, rgb(0, 115, 255) 90%);
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.row {
    display: flex;
    align-items: center;
    gap: 106px;
    height: 90px;
    width: 572px;
    margin: 10px 0;
}

.stat {
    padding: 10px 4px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex; 
    gap: 5px;
    align-items: center;
    width: 240px;
    justify-content: center;
}

.stat h2 {
    font-size: 24px;
    font-weight: 400;
}

.points {
    font-size: 24px;
}

.clicker button {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0;
    margin: 0 auto;
    transition: 200ms;
    cursor: pointer;
}
.clicker button:hover{
transform: scale(1.08);
}

.clicker {
    display: flex;
    justify-content: center;
}

.upgrade-card{
    width: 250px;
    height: 70px;
    border-radius: 15px;
    background-color: #FFFAFA;
    padding: 4px 10px;
    user-select: none;
    transition: 200ms;
    cursor: pointer;
}
.upgrade-card:hover{
    box-shadow: 0 6px 20px red;
}
.upgrade-card:active{
    box-shadow: 0 10px 20px rgb(30, 0, 255);
}
.upgrade-card h4{
    margin: 0;
}
.clicker button:active{
transform: scale(0.96);
}
.upgrade{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px 106px; 
    background-color: black;
    border-radius: 15px; 
    padding: 10px;
    margin: 30px 0 0 0;
}
h3{
    text-align: center;
    background-color: #FFFAFA;
    padding: 4px 10px;
    text-transform: uppercase;
    grid-column: span 2;
    border-radius: 15px; 
}
@media (max-width: 600px) {
    .row{
        flex-direction: column;
        gap: 20px; 
        height: auto;
    }
    .upgrade{
            grid-template-columns: 1fr;

    }
    h3{
        grid-column: 1;
    }
}